body{
    background-image: linear-gradient(to bottom,#230c4e,transparent);
}
.container{
    background-image: linear-gradient(to bottom, #228c22,transparent);
}

th{
    background-color:rgb(87, 59, 180) ;
    border-radius: 4px;
}
td{
   background-image: linear-gradient(to bottom,rgb(255, 255, 255),transparent);
  border-radius: 20px;
}
.navbar-brand{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 30px;
 color:#000000;
}
.navbar-toggler{
    background-color: rgba(10, 114, 174, 0.538);
}
#ajouter{
    background-color: yellowgreen;
}
.table{
    text-align: center;
    width: 80%;
    position: absolute;
    left: 140px;
  border-radius: 20px;
    opacity: .7;
    box-shadow: 5px 10px 30px 10px rgb(186, 125, 179);

}
.thead-dark{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.info{
    text-align: center;
    font-size: 60px;
    font-style: italic;
    font-family: serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(98, 90, 181);
    animation-name: info;
    animation-duration: 5s;
animation-delay: 2s;
animation-iteration-count: infinite;
}
@keyframes info{
    0%{
        translate:0 0 ;
    }
    25%{ 
        translate: 100px 0;
    }
50%{
        translate: 0 0;
    }
75%{
    translate:-100px 0;
}
100%{
    translate: 0 0;
}

}

#icon1{
    width: 50px;
    height: 50px;
    color: green;
    cursor: pointer;
    position: relative;
    right: 210px;
}

#del{
    width: 20px;
    height: 20px;
    color: red;
    margin:20px;
    cursor: pointer;

}
#edi{
    width: 20px;
    height: 20px;
    color: green;
    cursor: pointer;
}
#co{
    position: relative;
    left: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
#dp{
    position: relative;
    left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
}
.modal-content{
background-image:linear-gradient(to top ,rgb(9, 72, 24),transparent) ;
}



/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
.form-control {
    outline: none;
   max-width: 400px;
    padding: 8px;
    background-color: #d4cbcb;
    border-radius: 12px;
    border: 4px solid #000000;
   
    font-weight: bold;
    font-style: italic;
    margin: auto;
  }
  
  .form-control:hover {
    background-color: #6ad5f0;
    outline: none;
    border: 4px solid #000000;
  }
  .form{
    position: relative;
    display: flex;      
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
  }
  /* From Uiverse.io by tiagoadag1203 */ 
.input {
    max-width: 190px;
    background-color: #1a1a1a;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
    position: relative;
    left: 600px;
  }
  
  .input:focus {
    animation: rotateShadow 2s infinite linear;
  }
  
  @keyframes rotateShadow {
    0% {
      box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
    }
    25% {
      box-shadow: -2px 2px 8px 1px #aa00ff, 2px -2px 8px 1px #3700ff;
    }
    50% {
      box-shadow: 2px 2px 8px 1px #aa00ff, -2px -2px 8px 1px #3700ff;
    }
    75% {
      box-shadow: 2px -2px 8px 1px #aa00ff, -2px 2px 8px 1px #3700ff;
    }
    100% {
      box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
    }
  }
  #searchbt{
    position: relative;
    left: 620px;
    size: 200px;
  }

